@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

.primary-col {
  color: #008ecc;
}

.primary-bg {
  background: #008ecc;
}

.light-pr {
  background-color: #f3f9fb;
}

.bg {
  background-color: #f5f5f5;
}

.text-col {
  color: #666666;
}

.heading {
  color: #222222;
}

.hero-section {
  height: calc(99vh - 200px);
  margin-top: 200px;
}

.hero {
  transition: translate 300ms ease-in-out;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../public/rounded.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: 100%;
    z-index: 2;
  }
}

.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(50%);
  height: 2px;
  width: 20%;
  background: #008ecc;
}

.card {
  position: relative;
  &::before {
    content: "56% OFF";
    position: absolute;
    top: 0px;
    right: -2px;
    width: 55px;
    height: 55px;
    border-radius: 0 8px 0 15px;
    font-size: 14px;
    background: #008ecc;
    color: white !important;
    text-align: center;
    display: flex;
    align-items: center;
  }
}

.cart-notification {
  &::after {
    content: attr(data-cart);
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    font-size: 14px;
    bottom: 0;
    right: 0px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(15px);
  }
}
